Saved/*

Intermediate/*

Plugins/*/Intermediate/*

DerivedDataCache/*

.vsconfig 

*.sln

MyFirstGame_AjiPus/Intermediate/CachedAssetRegistry.bin
MyFirstGame_AjiPus/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
MyFirstGame_AjiPus/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
MyFirstGame_AjiPus/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
MyFirstGame_AjiPus/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
MyFirstGame_AjiPus/Intermediate/Config/CoalescedSourceConfigs/ObjectMixer.ini
MyFirstGame_AjiPus/Intermediate/Config/CoalescedSourceConfigs/ObjectMixerSerializedData.ini
MyFirstGame_AjiPus/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
MyFirstGame_AjiPus/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
MyFirstGame_AjiPus/Intermediate/ReimportCache/3688439234.bin
MyFirstGame_AjiPus/Intermediate/ShaderAutogen/PCD3D_ES3_1/AutogenShaderHeaders.ush
MyFirstGame_AjiPus/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
MyFirstGame_AjiPus/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
MyFirstGame_AjiPus/Saved/Config/CrashReportClient/UECC-Windows-A396F48F4B14A62FF8AE95AAA92D5BCF/CrashReportClient.ini
MyFirstGame_AjiPus/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
MyFirstGame_AjiPus/Saved/Config/WindowsEditor/Engine.ini
MyFirstGame_AjiPus/Saved/Config/WindowsEditor/Game.ini
MyFirstGame_AjiPus/Saved/Config/WindowsEditor/GameUserSettings.ini
MyFirstGame_AjiPus/Saved/Logs/MyFirstGame_AjiPus.log
MyFirstGame_AjiPus/Saved/SourceControl/UncontrolledChangelists.json
